.container {
  display: flex;
}
.sidebar {
  width: 250px;
  padding: 1rem;
  background: #000;
  color: #eee;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.menu__icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.link__item {
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: all 0.5s ease;
}
.icon {
  margin-right: 1rem;
  color: #eee;
}
.link__text {
  color: #eee;
}

.link__item:hover {
  background: #eee;
  border-radius: 5px;
}
.link__item:hover > span {
  color: #000;
}

.link__item.active {
  background: #eee;
  border-radius: 5px;
}
.link__item.active > span {
  color: #000;
}

main {
  flex: 1;
}

.sidebar.close{
    width: 50px;
}